<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="accountDao" class="com.xxM.dao.Impl.AccountDaoImpl"/>
    <bean id="accountDao02" class="com.xxM.utils.StaticFactory" factory-method="getBean"/>
    <bean id="instanceFactory" class="com.xxM.utils.InstanceFactory"/>
    <bean id="accountDao03" factory-bean="instanceFactory" factory-method="getBean"/>
</beans>